apiVersion: apps/v1
kind: Deployment
metadata:
  name: mnist-classifier
  labels:
    app: mnist-classifier
spec:
  replicas: 2
  selector:
    matchLabels:
      app: mnist-classifier
  template:
    metadata:
      labels:
        app: mnist-classifier
    spec:
      imagePullSecrets:
      - name: acr-secret
      containers:
      - name: mnist-api
        image: rvazcr.azurecr.io/mnist-classifier:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        resources:
          requests:
            memory: "512Mi"
            cpu: "250m"
          limits:
            memory: "1Gi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /health
            port: 8000
          initialDelaySeconds: 5
          periodSeconds: 5
